.gaming-section-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 87vh;
}
